---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title="About" description="This is the about page of the Ataraxia Astro Theme." />
	</head>
	<body>
		<Header/>
		<main id="main">
			<h1>About</h1>
			<p>This is the about page of the <strong>Ataraxia Astro Theme</strong>. You can customize this page to include information about yourself or your website.</p>
			<p>Feel free to modify the content and style to suit your needs!</p>
		</main>
		<Footer />
	</body>
</html>
